
body {
    color: black;
    background-color: #eeeee6;
    margin-top: 0;
    font-family: Verdana,sans-serif;
    font-size: small;
    vertical-align: top;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}

hr {
    clear: both;
    border: 1;
    color: #ccc;
}

.menu {
    float: left;
    width: 200px;
    margin: 1em;
}
.menu li {
    list-style: none outside none;
    padding-left: 1em;
    padding-right: 1em;
}
.contents {
    float: right;
    width: 70%;
    background-color: white;
    border: solid 1px #ccc;
    padding: 2em;
    margin: 1em;
}
li.current_page {
    background-color: #bbb;
}
