
body {
    color: black;
    background-color: #eeeee6;
    margin-top: 0;
    font-family: Verdana,sans-serif;
    font-size: small;
    vertical-align: top;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}


.menu {
    float: left;
    margin: 0;
    padding: 0;
    width: 208px;
    font-size: medium;
}
.menu li {
    list-style: none outside none;
    padding: 0;
}
.menu ul {
    padding: 0;
}
.menu_level2 {
    font-size: small;
    margin-left: 20px;
}
.contents {
    margin: 0;
    margin-bottom: 1em;
    float: right;
    background-color: white;
    border: solid 1px #ccc;
    padding: 2em;
    width: 660px;
}
li.active {
    color: #4E443C;
}
.header {
    padding-top: 15px;
    margin: 0 auto;
    width: 940px;
}
.header_text {
    padding-left: 1em;
    font-size: 150%;
}
div.header img {
    vertical-align: middle;
}
.page {
    margin: 0 auto;
    width: 940px;
}
.footer {
    margin 1em;
    padding: 1em;
    clear: both;
}
.footer {
    margin-top: 1em;
    border-top: 1px solid #ddd;
}
pre code {
    background-color: #EEFFCC;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.tag, code {
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 0.1em 0.5em 0.1em 0.5em; /* top right bottom left */
    border-radius: 5px;
}

