
body {
    color: black;
    margin-top: 0;
    font-family: Verdana,sans-serif;
    font-size: small;
    vertical-align: top;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}

hr {
    clear: both;
    width: 80%;
    border: 1;
    color: #ccc;
}

.menu {
    float: left;
    width: 200px;
}
.menu li {
    list-style: none outside none;
}
.contents {
    float: right;
    width: 700px;
}
