
/* main page styles */
body {
  font-family: sans-serif, Arial, Helvetica;
  background: #c8c8c8;
  color: #333;
  /*margin: 0;*/
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}


.clickable {
    cursor: pointer;
}
.clickable {
    text-decoration:underline;
    color: blue;

}

table.sm_fields_summary  td {
    padding-bottom: 0.5em;
    vertical-align: top;
}
.sm_fields_summary {
    width: 100%;
    /*border-bottom: 1px solid grey;*/
    margin-bottom: 2em;
}
.sm_entry {
    width: 60em;
    background-color: rgb(232, 232, 232);
    margin: 1px 1px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 186);
    padding: 5px;
    font-size: 9pt;
    font-family: Verdana,sans-serif;
}
.sm_entry_header {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-weight: bold;
}
.sm_entry_message {
    white-space: pre;
    font-family: monospace;
    font-size: medium;
    
}
.sm_entry_other_fields {
    background-color: #e4f4ef;
}

.sm_fields_summary {
    font-family: Verdana,sans-serif;
    font-size: small;
    border-collapse:collapse;
}

/* fields in the issue page */
.sm_flabel {
    font-weight: bold;
    white-space: nowrap;
    font-family: Verdana,sans-serif;
    font-size: small;
    text-align: right;
}
input {
    font-family: Verdana,sans-serif;
    font-size: small;
}
.sm_fvalue {
    white-space: nowrap;
    padding-right: 6em;
}
.sm_fname_title, .sm_fname_id {
    background-color: rgb(208, 208, 208);
    border: 1px;
    padding:0;
}
.sm_issue {
    vertical-align: top;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    border: 1px solid rgb(116, 126, 147);
    padding: 10px;
    font-size: 10pt;
    border-radius: 5px 5px 5px 5px;
    font-family: Helvetica,Arial,Geneva;
}
.sm_issue_header {
    width: inherit;
    margin: 8px 0px;
    padding: 0.3em;
    background-color: rgb(208, 208, 208);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-size: 125%;
    font-weight: bold;
}
.sm_issue_id {
    /*background-color: rgb(220, 220, 220);*/
    padding-left: 1em;
    padding-right: 1em;
    /*border-radius: 0.3em 0.3em 0.3em 0.3em;*/
    border-right: 1px solid black;
    font-family: monospace;

}
.sm_finput_title {
    width: 100%;
}
.sm_issue_form {
    margin-top: 3em;
    width: 55em;
}
input[type=submit] {
    display: block;
}
textarea.sm_finput_message {
    width: 50em;
    height: 120px;
}
table.table_issues {
    border-collapse:collapse;
}
table.table_issues td {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-right: solid 1px rgb(200, 200, 186);
}
table.table_issues tr:nth-child(odd) td {
    background-color: rgb(232, 232, 232);
}
table.table_issues tr:nth-child(even) td {
    background-color: rgb(220, 220, 220);
}
.searchbox {
    /*float: right;*/
}
