
/* main page styles */
body {
  font-family: sans-serif, Arial, Helvetica;
  background: #c8c8c8;
  color: #333;
  /*margin: 0;*/
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}

table.body {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

.summary {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding-left: 1em;*/
    padding-top: 1em;
    padding-right: 1em;
    /*float: left;*/
}

.title {
    /*background-color: #f4f4ff;*/
    padding: 5px;
    font-size: 120%;
    font-weight:bold;
    border-bottom: solid gray 1px;
}

.label_title, .label_status, .label_owner, .label_priority, .label_summary, .label_message, .label_author, .label_mtime, .label_ctime, .label_id, .label_target_version {
    color: #338;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    padding-right: 5px;
    margin-left: 10px;
    font-weight:bold;
}
.tk_td_input {
    vertical-align:top;
}

.field_title, .field_status, .field_owner, .field_priority, .field_summary, .field_tags {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tk_msg {
    background-color: #f4f4ff;
    padding: 5px;
    border: solid gray 1px;
    width: 60em;
    margin: 8px;
}
.tk_msg_header {
    font-weight:bold;
}
.tk_msg_id, .tk_msg_author, .tk_msg_date, .tk_msg_del {
    padding-right: 1em;
}
.tk_input_title {
    width: 50em;
}
.message {
    clear: both;
}

form {
  margin: 0;
}



.table_issues {
  border-spacing: 0;
  width: 100%;
}

.th_issues, .td_issues {
  padding: 0 4px 0 4px;
  color: #404070;
  background-color: #eef;
  border: 1px solid white;
  vertical-align: top;
  empty-cells: show;
}
.table_issues td a[href]:hover { color: #404070 }
.table_issues td a[href]:link { color: #404070 }
.table_issues td a[href] { color: #404070 }

.th_issues {
    font-weight:bold;
}


.searchbox {
    float: right;
}

.tke_fieldconfig {
    vertical-align: text-top;
}
.tke_fieldconfig_block {
    padding: 1em;
    /*border: solid 1px;*/
}

.clickable {
    cursor: pointer;
}
.clickable {
    text-decoration:underline;
    color: blue;

}

select {
    vertical-align: top;
}

.sm_entry {
    width: 60em;
    background-color: rgb(232, 232, 232);
    margin: 1px 1px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 186);
    padding: 5px;
    font-size: 9pt;
    font-family: Verdana,sans-serif;
}
.sm_entry_header {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-weight: bold;
}
.sm_entry_message {
    white-space: pre;
    font-family: monospace;
    font-size: medium;
    
}
.sm_entry_other_fields {
    background-color: #e4f4ef;
}

.sm_fields_summary {
    font-family: Verdana,sans-serif;
    font-size: small;
    border-collapse:collapse;
}

/* fields in the issue page */
.sm_flabel {
    font-weight: bold;
    white-space: nowrap;
    font-family: Verdana,sans-serif;
    font-size: small;
    text-align: right;
}
input {
    font-family: Verdana,sans-serif;
    font-size: small;
}
.sm_fvalue {
    white-space: nowrap;
    padding-right: 6em;
}
.sm_fname_title, .sm_fname_id {
    background-color: rgb(208, 208, 208);
    border: 1px;
    padding:0;
}
.sm_issue {
    vertical-align: top;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    border: 1px solid rgb(116, 126, 147);
    padding: 10px;
    font-size: 10pt;
    border-radius: 5px 5px 5px 5px;
    font-family: Helvetica,Arial,Geneva;
}
.sm_issue_header {
    width: inherit;
    margin: 8px 0px;
    padding: 0.3em;
    background-color: rgb(208, 208, 208);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-size: 125%;
    font-weight: bold;
}
.sm_issue_id {
    background-color: rgb(220, 220, 220);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    border: 1px solid black;
}
.sm_finput_title {
    width: 50em;
}
.sm_issue_form {
}

textarea.sm_finput_message {
    width: 500px;
    height: 120px;
}
