<!DOCTYPE HTML>
<html>
    <head>
        <title>Issues of project SM_HTML_PROJECT</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link media="all" rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <link id="printCSS" media="print" rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/print.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script type="text/javascript" src="SM_URL_ROOT/sm/smit.js"></script>
        <script type="text/javascript" src="SM_URL_ROOT/public/general.js"></script>
    </head>
    <body>
        SM_INCLUDE(header_fixed.html)
        <h1>Issues for project <span class="tag">SM_HTML_PROJECT</span></h1>
        <a class="no_print" href="javascript:togglePrintPreview('printCSS')">Print Preview</a> - <a href="../entries/?sort=-ctime&limit=50">Latest entries</a>
SM_DIV_ISSUES

<br>
<br>
    </body>
</html>
