<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script src="SM_URL_ROOT/sm/smit.js"></script>
    </head>
    <body>
        <div style="padding-top: 15px;">
            <table><tr><td><img src="SM_URL_ROOT/public/logo.png" class="logo" alt="Logo"></td>
                    <td>SM_DIV_NAVIGATION_GLOBAL</td></tr></table>
        </div>
        <br>
        <br>
        <br>
        <a href="SM_URL_ROOT/*/issues?search=me">My issues accross all projects</a>
        <br>
        <br>
SM_DIV_PROJECTS
    </body>
</html>
