<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script src="SM_URL_ROOT/sm/smit.js"></script>
    </head>
    <body>
        SM_INCLUDE(header_no_project_fixed.html)
        <a href="SM_URL_ROOT/*/issues?search=me">My issues accross all projects</a>
        <br>
        <br>
        SM_DIV_PROJECTS
        <br>
        <div class="sm_projects_new sm_cap_superadmin">
            <a href="_" class="sm_projects_new">New Project</a>
        </div>
        <br>
        SM_SCRIPT
    </body>
</html>
