<!DOCTYPE html>
<html>
    <head>
        <title>Smit Signin</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script src="SM_URL_ROOT/sm/smit.js"></script>
    </head>

    <body>
        <div style="margin: 1em;">
            <img src="SM_URL_ROOT/public/logo.png" class="logo" alt="Logo">
        </div>
        <br>
        <h1>Small Issue Tracker (Smit) Demo</h1>
        <br>
        <div class="signin">
        <div class="signin_title">Sign In</div>
        <form method="post" action="SM_URL_ROOT/signin">
            <div class="signin_name">Name</div>
            <input type="text" name="username" autofocus><br>
            <div class="signin_password">Password</div>
            <input type="password" name="password"><br>
            <input type="hidden" name="redirect" id="redirect"><br>
            <input type="submit" value="Sign-in">
        </form>
        </div>
        For this demo, you can use one of these users/passwords:
        <ul>
            <li>alice/alice (read-only user)</li>
            <li>John Smith/John Smith (read-write user)</li>
            <li>homer/homer (admin)</li>
        </ul>

        Smit is available at this address:
        <a href="http://goeb.github.io/smit/">http://goeb.github.io/smit/</a>
    </body>
</html>
