<!DOCTYPE html>
<html><head>
        <title>Configuration of User</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link href="SM_URL_ROOT/public/style.css" type="text/css" rel="stylesheet">
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
        <script src="SM_URL_ROOT/sm/smit.js"></script>
        <script type="text/javascript">
            function selectAuth(item) {
                showOrHideClasses('box_auth', false);
                showOrHideClasses('box_auth_' + item.value, true);
            }
        </script>
    </head>
    <body>
        SM_INCLUDE(header_no_project_fixed.html)

        <h1>User Configuration</h1>

        <form action="" method="POST">
            <table class="sm_cap_superadmin">
                <tr><td>User name:</td><td><input id="name" name="sm_username" type="text" required="required"></td></tr>
                <tr><td><label for="superadmin">Superadmin:</label></td><td><input id="superadmin" name="sm_superadmin" type="checkbox"></td></tr>
            </table>
            <ul>
                <li><a href="#authentication">Authentication</a></li>
                <li class="sm_cap_superadmin"><a href="#permissions">Permissions</a></li>
                <li><a href="#notifications">Email Notifications</a></li>
            </ul>
            <br>
            <h2><a name="authentication">Authentication</a></h2>
            <div class="sm_cap_superadmin">
                <label><input onclick="selectAuth(this);" type="radio" name="sm_auth_type" value="sha1">Password</label>
                <label><input onclick="selectAuth(this);" type="radio" name="sm_auth_type" value="krb5">Kerberos</label>
                <label><input onclick="selectAuth(this);" type="radio" name="sm_auth_type" value="ldap">LDAP</label>
            </div>
            <div class="box_auth_sha1 box_auth">
                <table><tr><td>Password:</td><td>
                            <input name="sm_passwd1" type="password" size="30" placeholder="leave empty to keep unchanged">
                    </td></tr>
                    <tr><td>Re-enter password:</td><td>
                            <input name="sm_passwd2" type="password" size="30">
                </td></tr></table>
            </div>
            <div class="box_auth_krb5 box_auth sm_cap_superadmin">
                <table><tr><td>Kerberos name:</td><td>
                            <input name="sm_krb5_primary" type="text" size="30"> (if different from the username)
                    </td></tr>
                    <tr><td>Kerberos Realm:</td><td>
                            <input name="sm_krb5_realm" type="text" placeholder="EXAMPLE.COM" size="30"> (must be upper case)
                </td></tr></table>
            </div>
            <div class="box_auth_ldap box_auth sm_cap_superadmin">
                <table><tr><td>LDAP URI:</td><td>
                            <input name="sm_ldap_uri" type="text" placeholder="ldaps://example.com:636" size="30">
                    </td></tr>
                    <tr><td>LDAP Distinguished Name:</td><td>
                            <input name="sm_ldap_dname" type="text" placeholder="cn=John Doe,ou=People,dc=example,dc=com" size="60">
                </td></tr></table>
            </div>
            <div class="sm_cap_superadmin">
                <h2><a name="permissions">Configure Permissions on Projects</a></h2>
                Enter the names of the projects and the related permissions.<br>
                Several projects can be referred at once using a wildcard (Eg: appolo*).
                <div id="sm_permissions"></div>
                <div onclick="addPermission('sm_permissions', '', '');" class="clickable">+ Click for more...</div>
            </div>
            <input type="submit" value="Apply">
        </form>
        <br>
        <h2>Permissions</h2>
SM_TABLE_USER_PERMISSIONS
        <br>
        <h2><a name="notifications">Email Notifications</a></h2>
        <form action="" method="POST">
            <table>
                <tr><td>Email:</td><td><input type="text" name="sm_email" size="50"></td></tr>
                <tr><td>GPG Public Key:<br>(optional)</td><td><textarea name="sm_gpg_key" cols="70" rows="10"></textarea></td></tr>
                <tr><td>Notification Policy:</td>
                    <td>
                        <label><input type="radio" name="sm_notif_policy" value="none">No notification at all</label><br>
                        <label><input type="radio" name="sm_notif_policy" value="me">Notify changes that concern this user</label><br>
                        <label><input type="radio" name="sm_notif_policy" value="all">Notify all changes</label><br>
                    </td>
            </table>
            <input type="submit" value="Apply Notifications">
        </form>
        <br>
        <div class="sm_cap_superadmin">
            <button type="button" onclick="sm_deleteResource('./');">Delete this user</button>
        </div>
        SM_SCRIPT
</body></html>
