<!DOCTYPE html>
<html><head>
        <title>Configuration of User</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link href="SM_URL_ROOT/public/style.css" type="text/css" rel="stylesheet">
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
        <script src="SM_URL_ROOT/sm/smit.js"></script>
    </head>
    <body>
        <div style="padding-top: 15px;">
            <table><tr><td><img src="SM_URL_ROOT/public/logo.png" class="logo" alt="Logo"></td>
                    <td>SM_DIV_NAVIGATION_GLOBAL</td></tr></table>
        </div>

        <br>
        <br>
        <br>
        <br>
        <form action="" method="POST">
            <h1>User Configuration</h1>
            <div class="sm_user_superadmin_zone">
                <table>
                    <tr><td>User name:</td><td><input id="name" name="name" type="text" required="required"></td></tr>
                    <tr><td><label for="sm_superadmin">Superadmin:</label></td><td><input id="sm_superadmin" name="superadmin" type="checkbox"></td></tr>
                </table>
                <br>
                SM_TABLE_USER_PERMISSIONS
                <br>
                <br>

                Modify Roles on Projects:<br>
                <div id="roles_on_projects"></div>
                <div onclick="addPermission('roles_on_projects', '', '');" class="clickable">+ Click for more...</div>
                <br>
            </div>

            <br>
            <br>
            <h2>Password</h2>
            (leave empty to keep it unchanged)<br>
            <input name="passwd1" type="password">
            <br>
            <input name="passwd2" type="password"> (re-enter the password)
            <br>
            <br>
            <input type="submit" value="Apply">
        </form>
        <button type="button" onclick="sm_deleteResource('./');">Delete this user</button>
</body></html>
