
/* main page styles */
body {
  color: black;
  /*margin: 0;*/
  font-family: Verdana,sans-serif;
  font-size: small;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}


.clickable {
    cursor: pointer;
}
.clickable {
    text-decoration:underline;
    color: blue;

}

table.sm_fields_summary  td {
    padding-bottom: 0.5em;
    vertical-align: top;
}
.sm_fields_summary {
    width: 50em;
    margin-bottom: 2em;
    font-size: small;
    border-collapse:collapse;
}
.sm_entry {
    border: 0;
    margin: 0;
    border-top: 3px;
    border-style: solid;
    border-color: #E0E0E0;
    padding: 5px;
}
.sm_entry_header {
    color: #444;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 80%;
}
.sm_entry_message {
    white-space: pre;
    font-family: monospace;
    font-size: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sm_other_fields {
    color: #444;
    background-color: #E0E0E0;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    width: 60em;
    font-size: 80%;
}

/* fields in the issue page */
.sm_flabel {
    font-weight: bold;
    white-space: nowrap;
    font-size: small;
    text-align: right;
}
input {
    font-family: Verdana,sans-serif;
    font-size: small;
}
.sm_fvalue {
    white-space: nowrap;
    padding-right: 6em;
}
.sm_issue {
    vertical-align: top;
    padding: 10px;
    font-size: 10pt;
    border-radius: 5px 5px 5px 5px;
}
.sm_issue_header {
    margin: 8px 0px;
    padding: 0.3em;
    background-color: #E0E0E0;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-size: 125%;
    font-weight: bold;
}
.sm_issue_id {
    color: blue;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px solid black;
    font-family: monospace;

}
.sm_finput_title {
    width: 100%;
}
.sm_issue_form {
    border-top: 1em solid #E0E0E0;
    padding-top: 2em;
    margin-top: 4em;
}
input[type=submit] {
    display: block;
}
textarea.sm_finput_message {
    width: 50em;
    height: 120px;
}
table.table_issues {
    border-collapse:collapse;
}
table.table_issues td {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-right: solid 1px rgb(200, 200, 186);
}
table.table_issues tr:nth-child(odd) td {
    background-color: rgb(232, 232, 232);
}
table.table_issues tr:nth-child(even) td {
    background-color: #E0E0E0;
}
.searchbox {
    /*float: right;*/
}
.sm_entry_pname {
}
.sm_entry_pvalue {
    font-weight: bold;    
}
.td_issues, .tr_issues {
    font-size: small;
}
