<!DOCTYPE HTML>
<html>
    <head>
        <title>Entries of project SM_HTML_PROJECT</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link media="all" rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <link id="printCSS" media="print" rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/print.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script type="text/javascript" src="SM_URL_ROOT/sm/smit.js"></script>
        <script type="text/javascript" src="SM_URL_ROOT/public/general.js"></script>
    </head>
    <body>
        <div style="padding-top: 15px; width: 100%; background: white;">
            <table><tr><td><img src="SM_URL_ROOT/public/logo.png" class="logo" alt="Logo"></td>
                    <td>SM_DIV_NAVIGATION_GLOBAL SM_DIV_NAVIGATION_ISSUES</td></tr></table>
        </div>
        <div class="no_print" style="position: fixed; top: 0; padding-top: 15px; width: 100%; background: white;">
            <table><tr><td><img src="SM_URL_ROOT/public/logo.png" class="logo" alt="Logo"></td>
                    <td>SM_DIV_NAVIGATION_GLOBAL SM_DIV_NAVIGATION_ISSUES</td></tr></table>
        </div>
        <h1>Entries of project <span class="tag">SM_HTML_PROJECT</span></h1>
SM_DIV_ENTRIES

<br>
<br>
    </body>
</html>
