<!DOCTYPE html>
<html>
    <head>
        <title>Project Statistics</title>
        <link rel="icon" type="image/x-icon" href="SM_URL_ROOT/public/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script src="SM_URL_ROOT/sm/smit.js"></script>
        <script src="SM_URL_ROOT/sm/Chart.min.js"></script>
        <script>
            /** Get a sample
              * @param moments: the async requests wait until all moments have been fulfilled
              * @return
              * Ex: { "open": 34, "closed": 321, "other": 7 }
              */
            function getSample(resource, timestamp, property, samples, propertyValues, moments) {
                var url = resource + '?format=json&snapshot=' + timestamp;
                url = url + '&colspec=' + property;
                var xhr = new XMLHttpRequest();
                xhr.open("GET", url, true);
                xhr.onload = function (e) {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            jsonString = xhr.responseText;
                            //console.log("jsonString="+jsonString);
                            data = JSON.parse(jsonString);
                            var len = data.length;
                            consolidatedData = {};
                            for (var i=0; i<len; i++) {
                                var key = data[i][0];
                                if (key in consolidatedData) consolidatedData[key] ++;
                                else consolidatedData[key] = 1;
                            }
                            //console.log("consolidatedData=" + JSON.stringify(consolidatedData));
                            samples[timestamp] = consolidatedData;

                            // update the propertyValues
                            for (value in consolidatedData) {
                                if (propertyValues.indexOf(value) == -1) propertyValues.push(value);
                            }

                            // if all samples have been received, do the chart
                            if (moments.length == Object.keys(samples).length) {
                                renderChart(moments, propertyValues, samples);
                            }
                        } else {
                            console.error(xhr.statusText);
                            alert("Error: " + xhr.statusText);
                        }
                    }
                }
                xhr.onerror = function (e) {
                    console.error(xhr.statusText);
                };
                xhr.send(null);
            }

            function getOptions() {
                var options = {
                    animation : false,
                    scaleShowGridLines : true,
                    scaleGridLineColor : "rgba(0,0,0,.05)",
                    scaleGridLineWidth : 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    bezierCurve : false,
                    //bezierCurveTension : 0.4,
                    pointDot : true,
                    pointDotRadius : 4,
                    pointDotStrokeWidth : 1,
                    pointHitDetectionRadius : 20,
                    datasetStroke : true,
                    datasetStrokeWidth : 2,
                    datasetFill : false,
                    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
                    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
                };
                return options;
            }
            /** Get a random color in the format: #fff */
            function getRandomColor() {
                var chars = '0123456789abcdef';
                var result = '#';
                for (var i = 0; i < 3; i++) result += chars[Math.round(Math.random() * (chars.length - 1))];
                return result;
            }

            // global var
            var myLineChart = null;

            /** build the datasets and make the chart
             *
             *  xArray: [ datetime, ... ]
             *  datasetsTitles: [ key1, key2, ... ]
             *  samples: [ { key1: n1, key2: n2, ... }, ... ]
             */
            function renderChart(xArray, datasetsTitles, samples) {
                datasets = [];
                //console.log("datasetsTitles=" + JSON.stringify(datasetsTitles));
                var colors = [ "#aa0", "#d00", "#b8a8d8", "#436", "#0d5", "#d79", "#a4c", "#5a6", "#356", "#333" ];
                datasetsTitles.sort();
                for (var title in datasetsTitles) {
                    var label = datasetsTitles[title];
                    if (label == '') label = "(empty)";
                    // build data
                    var data = [];
                    timestamps = Object.keys(samples).sort();
                    for (var i = 0; i < timestamps.length; i++) {
                        var value = samples[timestamps[i]][label];
                        if (value == undefined) value = 0;
                        data.push(value);
                    }
                    var color = colors[title];
                    if (color == undefined) color = getRandomColor();
                    datasets.push({
                        "label": label,
                        "data": data,
                        "fillColor": color,
                        "strokeColor": color,
                        "pointStrokeColor": color,
                        "pointColor": color,
                        "pointHighlightStroke": "#000" });
                }
                //console.log("datasets=" + JSON.stringify(datasets));

                var labels = [];
                for (m in xArray) {
                    var d = new Date(xArray[m]*1000);
                    dateStr = d.toISOString().substr(0, 10);
                    labels.push(dateStr);
                }
                var ctx = document.getElementById("myChart").getContext("2d");
                if (myLineChart) myLineChart.destroy();
                myLineChart = new Chart(ctx).Line({ "labels": labels, "datasets": datasets}, getOptions());
                var legendBox = document.getElementById('legend');
                legendBox.innerHTML = myLineChart.generateLegend();

            }
            function getAllSamples() {
                var propertyBox = document.getElementById('property_name');
                var nSamplesBox = document.getElementById('n_past_dates');
                var nSamples = parseInt(nSamplesBox.value);
                var deltaDaysBox = document.getElementById('delta_days');
                var deltaDays = parseInt(deltaDaysBox.value);
                var resource = "issues/";

                var secondsSinceEpoch = Math.floor((new Date).getTime()/1000);
                var moments = [ ];
                // build list of n samples
                for (var i = 0; i < nSamples; i++) {
                    var ts = secondsSinceEpoch - deltaDays*24*60*60*i;
                    moments.unshift(ts);
                }
                //console.log("moments=" + JSON.stringify(moments));

                var samples = {};
                var propertyValues = [];
                for (var m = 0; m < moments.length; m++) {
                    // launch asynchronous request to get the sample
                    getSample(resource, moments[m], propertyBox.value, samples, propertyValues, moments);
                }

                return false;
            }
        </script>
    </head>
    <body>
        SM_INCLUDE(header_fixed.html)
        <h1>Statistics for project <span class="tag">SM_HTML_PROJECT</span></h1>

        Select to which property the statistics should be applied, and the frequency.
        <br>
        <br>
        <form onsubmit="return getAllSamples();">
            <table><tr>
                    <td>Property Name:</td><td><input type="text" id="property_name" value="status"></td>
                    </tr><tr>
                    <td>Number of Past Dates:</td><td><input type="text" id="n_past_dates" value="12"></td>
                    </tr><tr>
                    <td>Delta between Past Dates (days):</td><td><input type="text" id="delta_days" value="30"></td>
            </tr></table>
            <input type="submit" value="Apply">
        <form/>
            <br>
            <canvas id="myChart" width="400" height="400"></canvas>
            <div id="legend"></div>
            <script>getAllSamples();</script>
    SM_SCRIPT
    </body>
</html>
