<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <script src="SM_URL_ROOT/sm/smit.js"></script>
    </head>
    <body>
        SM_INCLUDE(header_no_project_fixed.html)
        <h1>Users</h1>
SM_DIV_USERS
<br>
    <a href="./_" style="font-weight:bold;">New User</a>
<br>
<br>
        <form onsubmit="return confirm('Really reload users?');" method="post">
            <input type="hidden" name="hotreload" value="1">
            <input type="submit" value="Reload Users From Disk Storage">
        </form>

    SM_SCRIPT
    </body>
</html>
