<!DOCTYPE html>
<html>
    <head>
        <title>Predefined Views</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="SM_URL_ROOT/public/style.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
    <body>

        SM_INCLUDE(header_fixed.html)

        <h1>Predefined Views of project <span class="tag">SM_HTML_PROJECT</span></h1>

SM_DIV_PREDEFINED_VIEWS
        <br>
            <a href="_">Add a new predefined view</a>
            <br>

        </form>
    </body>
</html>
